:root {
    box-sizing: border-box; 
}

*,
::before,
::after {
    box-sizing: inherit; 
}

header{
    width: 95vw;
    margin-left: 2.5vw;
}

header div{
    padding-top: 1em;
	padding-bottom: 1em;  
    border: 1px solid black;
}

header div p{
    padding-top: 1em;
	padding-bottom: 1em;  
    margin-left: 40vw;
    width: 20vw;
    text-align: center;
    border: 1px solid black;
}

.body{
    background-color: yellow;
    margin-left: 2.5vw;
    margin-right: 1vw;
}

.body article{
    width: 50%;
    background-color: aqua;
}

img{
    height: 150px;
    width: 150px;
}

article{
    float:left;
}

#Primero{
    height: 400px;
}
#Segundo{
    height: 200px;
}
#Tercero{
    height: 300px;
}

.desc{
    padding:0;
    width: 70%;
}

.body article div{
    display: flex;
    flex-direction: row;
    background-color: orangered;
    padding-top: 2rem;
}

.bloque:nth-child(odd){
    background-color: green;
}
