.dropdown-content {
    opacity: 0;

    transition: opacity 1.5s ease-out;
}
  
.dropdown:hover .dropdown-content {
    opacity: 1;   
}
.dropdown{
    width: 9%;
}
.dropdown-content h3:hover{
    background-color: lightgrey;
}