*{
    margin:0;
    padding:0;
}
.ola{
    background-image: url(../../IMG/ola.png);
    width: 400vw;
    height:100%;
    position:absolute; 
}
.ola:nth-child(1){
    opacity: .75;
    animation: mueveOla 5s ease-in-out infinite;
}
.ola:nth-child(2){
    margin-left: -300vw;
    opacity: .5;
    animation: mueveOla2 5s ease-in-out infinite;
}
.ola:nth-child(3){
    opacity: .25;
    animation: mueveOla 10s ease-in-out infinite;
}

.container{
    height:max-content;
    width: max-content;
}

@keyframes mueveOla {
    0% {
        transform:translate(0px, 0px);
    }
    50%{
        transform: translate(-200vw, 0px);
    } 
    100%{
        transform:translate(0px, 0px);
    } 
}

@keyframes mueveOla2 {
    0% {
        transform:translate(0px, 0px);
    }
    50%{
        transform: translate(300vw, 0px);
    } 
    100%{
        transform:translate(0px, 0px);
    } 
}