.caja1{
    width: 20%;
    height: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 1s ease-out;
    z-index: 2;
}
.caja1:hover{
    transform:rotate(50deg);
}
img{
    width: 90%;
    height: auto; 
     
}
h2{
    text-align: center;
}
p{
    width: 90%;
    text-align: justify;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caja2{
    width: 20%;
    height: auto;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 1s ease-out;
    z-index: 1;
}

.caja3{
    width: 20%;
    height: auto;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 1s ease-out;
    z-index: 0;
}

.caja3:hover{
    transform:skew(40deg);
}

.caja4{
    width: 20%;
    height: auto;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 1s ease-out;
    
    z-index: 0;
}

.caja4:hover{
    transform:translate(0, 20px);
}

.caja2:hover{
    transform:scale(0.85);
}